POSTGRES_DB=AuthSystem
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-password
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-this-password
PGADMIN_PORT=5050


DOTNET_ENVIRONMENT=Production
ASPNETCORE_ENVIRONMENT=Production
AUTH_SERVICE_PORT=5044
VIDEO_SERVICE_PORT=5026
AUTH_SERVICE_HTTPS_PORT=7044
VIDEO_SERVICE_HTTPS_PORT=7026
JWT_KEY=replace-with-a-long-random-secret
JWT_ISSUER=MyApp
JWT_AUDIENCE=MyAppUsers
JWT_EXPIRY_MINUTES=60
# Optional HTTPS override values for compose.https.yml
# HTTPS_CERTS_PATH must point to a host folder containing auth-service.pfx and video-service.pfx
HTTPS_CERTS_PATH=./certs
AUTH_SERVICE_CERT_PASSWORD=change-this-password
VIDEO_SERVICE_CERT_PASSWORD=change-this-password
